.body {
    height: 3000px;
}

.item-box {
    position: relative;
    display: inline-block;
}

.item-pic {
    width: 250px;
}

.discount {
    background-color: black;
    color: white;
    padding: 8px 12px;
    font-family: Roboto, Arial;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 0px;

}