.install {
    background-color: black;
    font-family: Arial;
    padding: 20px 15px;
    width: 250px;
}

.a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}

.b {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 0px;
}

